.ant-layout {
  background: #f4f7fc;
}

.ant-layout-header {
  background-color: white;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
  padding: 10px 14px 24px;
  z-index: 1;
}

.ant-layout-content {
  padding: 10px 30px 30px;
}
