.ContactList {
  width: 100%;
}

h1 {
  font-weight: bold;
  font-size: 50px;
}

.loading {
  width: 100%;
  margin-top: 10px;
}

.list-header {
  display: flex;
}
.list-header div {
  font-weight: bold;
  width: 33%;
  color: #111;
}
