.ContactList {
  width: 100%;
}

.ContactList h1 {
  font-weight: bold;
  font-size: 60px;
}

.loading {
  width: 100%;
  margin-top: 10px;
}

.list {
  background-color: white;
  border: solid 1px #eee;
}

.list-header {
  display: flex;
  padding: 20px;
  border-bottom: solid 1px #eee;

}
.list-header div {
  font-weight: bold;
  width: 33%;
  color: #111;
  font-size: 14px;
}

.list .list-contacts a:nth-child(odd) .Contact {
  background-color: #f3f3f3;
}
